<domain type="kvm">
  <name>{{ item.name }}</name>
  <memory unit="MiB">{{ item.ram_mb }}</memory>
  <vcpu>{{ item.cpu }}</vcpu>

  <os>
    <type arch="x86_64" machine="pc">hvm</type>
  </os>

  <devices>
    {% if item.type == "qcow2" %}
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file="/var/lib/libvirt/images/{{ item.name }}/{{ item.name }}.qcow2"/>
      <target dev="vda" bus="virtio"/>
    </disk>
    {% endif %}

    {% if item.type == "iso" %}
    <disk type="file" device="cdrom">
      <driver name="qemu" type="raw"/>
      <source file="{{ item.base_image }}"/>
      <target dev="hdc" bus="ide"/>
      <readonly/>
    </disk>

    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file="/var/lib/libvirt/images/{{ item.name }}/{{ item.name }}.qcow2"/>
      <target dev="vda" bus="virtio"/>
    </disk>
    {% endif %}

    {% for net in item.networks %}
    <interface type="network">
      <source network="{{ net }}"/>
      <model type="virtio"/>
    </interface>
    {% endfor %}

    <graphics type="vnc" port="-1" autoport="yes"/>
    <console type="pty"/>
  </devices>
</domain>
