flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy {{ firewall_nft_input_policy }};

        iif "lo" accept
        ct state established,related accept

        tcp dport 22 accept
        udp dport 53 accept
        tcp dport 53 accept

        {% for port in firewall_allowed_tcp_ports %}
        tcp dport {{ port }} accept
        {% endfor %}

        {% for port in firewall_allowed_udp_ports %}
        udp dport {{ port }} accept
        {% endfor %}
    }
    
    chain forward {
        type filter hook forward priority 0; policy {{ firewall_nft_forward_policy }};
        
        ct state established,related accept

        {% for rule in firewall_allowed_forward_rules %}
        iif "{{ rule.iif }}" oif "{{ rule.oif }}" {{ rule.proto }} dport {{ rule.dport }} accept comment "{{ rule.name }}"
        {% endfor %}
    }

    chain output {
        type filter hook output priority 0; policy {{ firewall_nft_output_policy }};
    }
}
