ENABLED=yes
LOGLEVEL=low
DEFAULT_INPUT_POLICY={{ firewall_ufw_default_input | upper }}
DEFAULT_OUTPUT_POLICY={{ firewall_ufw_default_output | upper }}
DEFAULT_FORWARD_POLICY={{ firewall_ufw_default_forward | upper }}