BASTION_NAME={{ bastion_name }}
BASTION_TIMEZONE={{ bastion_timezone }}
BASTION_LISTEN_PORT={{ bastion_listen_port }}

GUACAMOLE_APP_NAME={{ guacamole_app_name }}
GUACAMOLE_AUTH_PROVIDER={{ guacamole_auth_provider }}

GUACD_HOSTNAME={{ guacamole_guacd_hostname }}
GUACD_PORT={{ guacamole_guacd_port }}

DB_HOSTNAME={{ guacamole_db_hostname }}
DB_PORT={{ guacamole_db_port }}
DB_NAME={{ guacamole_db_name }}
DB_USERNAME={{ guacamole_db_username }}
