guacd-hostname={{ guacamole_guacd_hostname }}
guacd-port={{ guacamole_guacd_port }}

webapp-name={{ guacamole_app_name }}

auth-provider={{ guacamole_auth_provider }}

db-hostname={{ guacamole_db_hostname }}
db-port={{ guacamole_db_port }}
db-name={{ guacamole_db_name }}
db-username={{ guacamole_db_username }}
db-password={{ guacamole_db_password }}
