---
caldera_docker_enabled: true
caldera_user: "{{ vm_user }}"
caldera_group: "{{ vm_user }}"
caldera_dir: "/opt/caldera"
caldera_config_dir: "{{ caldera_dir }}/conf"
caldera_data_dir: "{{ caldera_dir }}/data"
caldera_logs_dir: "{{ caldera_dir }}/logs"
caldera_git_version: "master"
