PLC_NAME={{ plc_name }}
PLC_TIMEZONE={{ plc_timezone }}

PLC_IMAGE={{ plc_image }}
PLC_PORT={{ plc_port }}
PLC_MODBUS_PORT={{ plc_modbus_port }}

PLC_ENABLE_OPENPLC={{ plc_enable_openplc | lower }}
PLC_ENABLE_PYTHON_WORKER={{ plc_enable_python_worker | lower }}
